<meta charset='UTF-8'/>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>

<div id='app'>
    <!-- Ao Utilizar as dondicionais IF ELSE-IF ELSE você estará removendo ou adicionando elementos/tags ao invés de esconder (Contrario v-show) -->
    <p v-if='logado'>Usuário Logado: {{ nome }}</p>
    <p v-else-if='anonimo'>Navegando como Anônimo</p>
    <p v-else>Nunhum usuário logado</p>
    <hr />
    <p><input type='checkbox' v-model='anonimo'/> Permitir Anônimo</p>
    <button @click='logado = !logado'>{{logado?'Sair':'Logar'}}</button>
</div>


<script>
    new Vue({
        el: '#app',
        data:{
            nome: 'Rodrigo',
            logado: false,
            anonimo: false,
        }
    })
</script>